name: MCP Tests

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  mcp-pytest:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: docker build -t getgather .

      - run: |
          docker run -p 23456:23456 --name getgather -d \
            -e SENTRY_DSN=${{ secrets.SENTRY_DSN }} \
            -e ENVIRONMENT=test \
            -e DEFAULT_PROXY_TYPE=proxy-0 \
            -e PROXIES_CONFIG="${{ secrets.PROXIES_CONFIG }}" \
            getgather
        timeout-minutes: 3

      - name: Run the health check validation
        run: while ! curl -s 'http://localhost:23456/health' | grep 'OK'; do sleep 1; done
        timeout-minutes: 3

      - name: Run the extended health check validation
        run: while ! curl -s 'http://localhost:23456/extended-health' | grep 'OK'; do sleep 1; done
        timeout-minutes: 3

      - name: Prepare back-end environment
        uses: ./.github/actions/prepare-backend

      - name: Install Patchright and Chromium
        run: uv run patchright install chromium

      - name: Run the tests
        run: xvfb-run -a uv run pytest -m "mcp" -s
        env:
          HOST: http://localhost:23456
          BBC_EMAIL: ${{ secrets.BBC_EMAIL }}
          BBC_PASSWORD: ${{ secrets.BBC_PASSWORD }}
          GOODREADS_EMAIL: ${{ secrets.GOODREADS_EMAIL }}
          GOODREADS_PASSWORD: ${{ secrets.GOODREADS_PASSWORD }}
          WAYFAIR_EMAIL: ${{ secrets.WAYFAIR_EMAIL }}
          WAYFAIR_PASSWORD: ${{ secrets.WAYFAIR_PASSWORD }}
